<div role="tabpanel" class="tab-pane " id="globalview">
  
</div>
<div role="tabpanel" class="tab-pane" id="mqttclient">
 
</div>
<div role="tabpanel" class="tab-pane active" id="management">
  <%= render partial: 'management_device'  %>
</div>