<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel-box">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#real_time_monitor">Real Time</a>
        </li>
     </ul>
      <div class="tab-content">
        <div id="real_time_monitor" class="container tab-pane active" style="padding-right: 80px;"><br>
          <div class="monitor_data">
            <%= render partial: 'devices/monitor_table', locals: {publish_message: @publish_message, subscribe_topic: @subscribe_topic} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>