<table id= "table-data" class="table table-condensed table-striped table-bordered nowrap" width="100%">
  <thead>
    <tr>
      <th>CMC Name</th>
      <th>CMC ID</th>
      <th>CMC Radio</th>
    </tr>
  </thead>
  <tbody style="height:100px;">
    <% devices.each do |device| %>
      <tr class="device-info">
        <td class="device-name"><%= device.name %></td>
        <td class="device-id_code"><%= device.id_code %></td>
        <td class="device-communication-id" value="<%= device.id_communication %>"><%= device.id_communication %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<div id="last_messages_received"></div>

<script type="text/javascript">
  $(".device-info").on("click",function(){
    var id = $(this).children(".device-communication-id").attr("value");
    console.log(id)
    $.ajax({
      url: "/mqtt_connection/"+id+"/last_messages_received",
      type: "GET",
      success: function (data) { 
        // append data to your page
        // $("page_element").html(data);
      }
    });
  })
</script>
<style type="text/css">
  .dataTables_filter {
    display: none; 
    }
  .dataTables_length {
    display: none; 
    }
  .device-info{
    cursor: pointer;
  }
</style>