<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel-box">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#client">Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#publication">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#subscription">Subscriptions</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="client" class=" tab-pane active"><br>
          <%= render partial: 'devices/mqtt_client_tab' %>
        </div>
        <div id="publication" class=" tab-pane fade"><br>
          <%= render partial: 'devices/mqtt_publication_tab' %>
        </div>
        <div id="subscription" class=" tab-pane fade"><br>
          <%= render partial: 'devices/mqtt_subscription_tab' %>
        </div>
      <div></div>
      </div>
    </div>
  </div>
</div>