<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel-box">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#mqtt">MQTT Broker</a>
        </li>
     </ul>
      <div class="tab-content">
        <div id="mqtt" class="container tab-pane active"><br>
          <%= form_tag("/mqtt_connection/connect", method: "get") do %>
           <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                   
                    <input class="form-control url" placeholder="URL" type="text" id="url">
                    <span id="inputtext" class="clearBtn" style="float: left;"></span>
                  </div>
                  <div class="col-md-3">
                    
                    <input class="form-control port" placeholder="PORT" type="text" id="port">
                    <span id="inputtext" class="clearBtn" style="float: left;"></span>
                  </div>
                   <div class="col-md-3">
<button>check</button>
                      
                   </div>
                    <div class="col-md-3">
                        <%= button_to 'Disconnect', create_device_path, method: :get, remote: true,class: "btn disconnect device-submit btn-right" %>
                    </div>
                </div>
            </div> 
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function vald(){
          port = $('.port').val();
          url = $('.url').val();
      $.ajax({
                  url: "/mqtt_connection/connect",
                  type:"get",
                  dataType: "json",
                  data:{
                      status: true,
                      port: port,
                       url:url
                    
                  },
                  success: function(response) {
                                  $('#myid1').hide();
                  $('#myid2').show();
                  }
              });
   

   
   }
   
</script>