<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/devices"><img alt="logo" src="/assets/inner-logo-880c6413d3f20851c5842073bfc3a85a549462d9c39771dc4122d3eaf1376947.svg"></a>
        </div>
        <ul class="nav navbar-right navbar-top-links">
            <li class="userdp dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="user-profile">
                      <img src="/assets/missing_user.png" alt="Missing user">
                    </span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!-- <li>
                        <a href="#">
                          <i class="fa fa-user fa-fw"></i>
                          User Profile</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-gear fa-fw"></i>
                            Settings</a>
                    </li> -->
                    <li>
                        <a rel="nofollow" href="/logout">
                        <i class="fa fa-sign-out fa-fw"></i>
                        Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
  </nav>
<div class="main-wrapper">
  <div class="alert-success device-alert-message"></div>
  <div class="middle-container">
  <div class="tab-section page-tab">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <% tab_list.each_with_index do|(ref, text), index| %>
              <li role="presentation" class="<%= index.eql?(2) ? 'active' : '' %> js-device-li">
                <%= link_to text, '#' + ref, 'aria-controls' => ref, role: 'tab', 'data-toggle' => 'tab', class: 'js-device-tab' %>
              </li>
            <% end %>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content" id="deviceTabs">
            <%= render partial: 'device_tabs', locals: {device: @device} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>

   <div id="div_id">
     
      <div id="uuu"></div>
   </div>