
<div class="middle-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <%= render partial: 'devices/device_form', locals: {device: @device} %>
      </div>
    </div>
  </div>
</div>
