<%= form_tag("/session/change_password", method: "post") do %>
<%= text_field_tag :password,  params[:password] %>
<%= text_field_tag :confirm_password,  params[:confirm_password] %>
<%= hidden_field_tag :id, params[:id] %>
 <button class="btn btn-custom">Reset Password</button>
<% end %>