<html>
<body data-gr-c-s-loaded="true">
    <div class="login-container">
      <div class="left-section"></div>
      <div class="right-section">
        <div class="logo-section">
           <a href="/"><img alt="logo" src="/assets/login-logo-ee82b9552305f2f1570dfdcd1abee04e2c61734fe756dd3dd40bd2a512b532e2.svg"></a>
        </div>
        <div class="form-section">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a role="tab" href="/session/index">Sign In</a>
              </li>
              <li role="presentation" class="">
                <a role="tab" href="/session/register">Sign Up</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="signin">
                 <form class="form-horizontal" id="new_user" accept-charset="UTF-8" method="post" action="/session/create">
                  <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="kSccnj6Cp9zG4whBOt2SCMwQ9Fs2mYCay/QnB/4rIbNlVj8xaOc4fwLaVKr9GjNmHYFNdOQazBAtEy9sbvziUQ==">
                      <!-- <div id="flash_alert">You need to sign in or sign up before continuing.</div> -->
                    <div class="form-group">
                      <div class="col-xs-12">
                          <input autofocus="autofocus" autocomplete="email" class="form-control email-filed" id="inputEmail3" placeholder="Email Address" required="required" type="email" value="" name="user[email]">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                          <input autocomplete="off" class="form-control password-filed" id="inputPassword3" placeholder="Password" required="required" type="password" name="user[password]">
                      </div>
                    </div>
                   <div class="form-group">
                      <div class="col-xs-12">
                          <div class="checkbox">
                            <input name="user[remember_me]" type="hidden" value="0"><input id="re1" type="checkbox" value="1" name="user[remember_me]">
                                  <label for="re1">Remember Me</label>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <button name="button" class="btn btn-default login-btn" >Sign in</button>
                      </div>
                    </div>
                  </form> 
              
                </div>
              </div>
            </div> 
  <div class="forgot-footer">
    <a href="/session/forget_password">Forgot your password?</a><br>
  </div>
</div>
</div>
</body>
</html>

