/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html, body {
     /*min-height: inherit; */
     height: 100%; 
}
body {
    min-height: 100%;
    font-family: 'helvetica_neue_lt_std55_roman';
    font-size: 15px;
    line-height: 1.42857143;
    color: #494949;
    background: #f9f9f9;
    margin: 0;
}
.login-container .right-section {
    display: table-cell;
    width: 50%;
    position: relative;
    vertical-align: top;
    padding: 160px 15px 20px 15px;
}


.login-container {
    height: 100%;
    width: 100%;
    display: table;
}
.login-container .left-section {
    display: table-cell;
    width: 50%;
    height: 100%;
    background-image: url(../assets/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.login-container input.form-control {
     /*border: 0; */
    /* border-radius: 0; */
}
.login-container .form-section .nav-tabs {
     width: 100%; 
     border-bottom: 0; 
}
.nav-tabs {
     border-bottom: 1px solid #ddd; 
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    /*-webkit-box-sizing: border-box;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-container .form-section .nav-tabs li {
    /* border: 0; */
    margin-bottom: 0;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
body {
    min-height: 100%;
    font-family: 'helvetica_neue_lt_std55_roman';
    font-size: 15px;
    line-height: 1.42857143;
    color: #494949;
    background: #f9f9f9;
}
.nav {
    padding-left: 0;
    /* margin-bottom: 0; */
    list-style: none;
}
.login-container input.form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d7d7d7;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* background-repeat: no-repeat; */
    background-position: 8px center;
    /* height: 48px; */
    padding-left: 50px;
}
input.form-control {
    height: 48px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #b7b7b7;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
    color: #4b4c4f;
    background-repeat: no-repeat;
    background-position: 8px center;
}
.form-horizontal .form-group {
     margin-right: -15px; 
     margin-left: -15px; 
}
.form-group {
    margin-bottom: 15px;
}
.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 27px;
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-xs-12 {
    width: 100%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    /* padding-right: 15px; */
    padding-left: 15px;
}

input[type=checkbox] + label {
        padding-left: 20px;
}


.login-container input.form-control {
     border: 0; 
     border-radius: 0; 
     border-bottom: 1px solid #d7d7d7; 
     -webkit-box-shadow: none; 
     box-shadow: none; 
     background-repeat: no-repeat; 
     background-position: 8px center; 
     height: 48px; 
     padding-left: 50px; 
     width: 100%;
}
input.form-control {
    height: 48px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #b7b7b7;
    border-radius: 0;
    -webkit-box-shadow: none;
    /* box-shadow: none; */
    /* font-size: 15px; */
    /* color: #4b4c4f; */
    background-repeat: no-repeat;
    background-position: 8px center;
}

@media (max-width: 767px)
.login-container .left-section {
    width: 100%;
    float: left;
    /* padding: 5px 15px 0px 15px; */
}